{% extends 'Default/home.html.twig' %}
{% block page_title %}Check email{% endblock %}

{% block content %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <h5 class="nomargin_top align-center"><i>Thank you, {{ username }}!</i></h5>

        <div id="confirm">
            <i class="icon_check_alt2"></i>
            <h5>Check your email!</h5>
            <p>
                A letter with a confirmation link was sent to mail
                {{ email }}. Go by mail and click on the link to confirm registration
            </p>
        </div>
    </div>

{% endblock %}
