{% extends 'Layouts/homepage.html.twig' %}
{% block page_title %} Forgot Password {% endblock %}

{% block body %}

    <div class="form-wrapper form-wrapper_login">
        <form method="post" action="{{ path('sendVerificationCode') }}" class="form">
            <label>Enter your email and username to reset password</label>
            <label>
                Username
                <input type="text" name='username'>
            </label>

            <label>
                Email
                <input type="email" name='email'>
            </label>
            <button class="btn">Reset Password</button>
        </form>
    </div>

{% endblock %}