<div class="form-wrapper form-wrapper_login">
	<form method="post" class="form"> 
	    <h1 class="h3 mb-3 font-weight-normal">Войти</h1>
		<label>
			Эл. Почта
			<input class="form__input form-control" type="email" name="email" placeholder="Эл. Почта" required>
		</label>
		<label>
			Пароль
			<input class="form__input form-control" type="password" name="password" placeholder="Пароль" required>
		</label>
		<p class="form__reset-link"><a href="#">Забыли пароль?</a></p>
		<button type="submit" class="btn">Войти</button>
	</form>
</div>