{% extends 'Layouts/homepage.html.twig' %}
{% block page_title %}Registration page{% endblock %}

{% form_theme signupForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
<body>
<div class="panel panel-info">
    <div class = "panel-heading">
        <h3 class="text-center">Register</h3>

    </div>
    <div class="panel-body">
        {{ form(signupForm) }}
    </div>

</div>
</body>
{% endblock %}
