{% extends 'Default/home.html.twig' %}
{% block title %}Reset Password{% endblock %}

{% block body %}

    <div class="form-wrapper form-wrapper_login">
        <form method="post" action="{{ path('updatePassword') }}" class="form">
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Passwords doesn't match!
                </div>
            {% endif %}
            <input type="hidden" name="id" value="{{ user.getId }}">
            <label>
                New password
                <input type="password" name="password1" required>
            </label>
            <label>
                Confirm password
                <input type="password" name="password2" required>
            </label>

            <button class="btn">Reset password</button>
        </form>
    </div>

{% endblock %}