{% extends 'Default/home.html.twig' %}
{% block page_title %}Check email{% endblock %}

{% block content %}
    <div class="container">
        <i class="icon_check_alt2"></i>
        <h3>Check your email, {{ username }}!</h3>
        <p>
            A letter with a confirmation link was sent to mail
            {{ email }}. Go by mail and click on the link to confirm resetting password.
        </p>
    </div>

{% endblock %}
