
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.DS_Store
/.idea/.DS_Store
/config/.DS_Store
/src/.DS_Store
.idea
/.idea
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/node_modules/
