<div class="answer-content">
    <div class="answer-content__question-block">
        <p class="qustion-meta-data">
            <a href="#" class="user-info__author-name">Martin Hope</a>
            <span class="qustion-meta-data__meta-date">
                Asked:
                <a href="#">April 19, 2018</a>
            </span>
            <span class="qustion-meta-data__byline">
                In:
                <a href="#">Language</a>
            </span>
        </p>
        <p class="answer-content__question-title">
            <a href="#">
                Why are the British confused about us calling bread rolls “biscuits” when they call bread rolls “puddings”?
            </a>
        </p>
        <p class="answer-content__question-body">
            In my local language (Bahasa Indonesia) there are no verb-2 or past tense form as time tracker. So, I often
            forget to use the past form of verb when speaking english.
            I saw him last night (correct)
            I see him last night (incorrect)
            But i think both has the same meaning and are understandable,
            Isn’t it?
        </p>
    </div>


    <div class="answer-content__bottom"> 
        <h3>2 Answer</h3>

        <div class="answer-item">
            <div class="answer-item__avatar">
                <img src="{{ asset('img/avatar.jpg') }}" class="avatar-border" alt="avatar">
            </div>
            <div class="answer-item__content">
                <div class="user-info">
                    <a href="#" class="user-info__author-name">Martin Hope</a>
                    <span class="user-info__author-badge">Explainer</span> 
                </div>
                <p class="answer-item__meta">
                    Added an answer on April 19, 2018 at 2:07 am
                </p>
                <p class="answer-item__answer">
                    It may be little things like not using native idioms, that you would pick up from living in the UK.
    
                    But, hey. That’s just a guess.
    
                    Also, I don’t think I would’ve noticed you were foreign from what you wrote, if you didn’t point it o
                </p>
                <div class="answer-item__action">
                    <div class="answer-item__rating">
                        <p class="vote-up"></p>
                        <p class="vote-result">62</p>
                        <p class="vote-bottom"></p>
                    </div>
                    <!-- <a href="#" class="answer-item__share">Share</a> -->
                </div>
            </div>
        </div>

        <div class="answer-item">
            <div class="answer-item__avatar">
                <img src="{{ asset('img/avatar.jpg') }}" class="avatar-border" alt="avatar">
            </div>
            <div class="answer-item__content">
                <div class="user-info">
                    <a href="#" class="user-info__author-name">Martin Hope</a>
                    <span class="user-info__author-badge">Explainer</span> 
                </div>
                <p class="answer-item__meta">
                    Added an answer on April 19, 2018 at 2:07 am
                </p>
                <p class="answer-item__answer">
                    It may be little things like not using native idioms, that you would pick up from living in the UK.
    
                    But, hey. That’s just a guess.
    
                    Also, I don’t think I would’ve noticed you were foreign from what you wrote, if you didn’t point it o
                </p>
                <div class="answer-item__action">
                    <div class="answer-item__rating">
                        <p class="vote-up"></p>
                        <p class="vote-result">62</p>
                        <p class="vote-bottom"></p>
                    </div>
                    <!-- <a href="#" class="answer-item__share">Share</a> -->
                </div>
            </div>
        </div>
        
    </div>
</div>