{% extends 'Layouts/homepage.html.twig' %}
{% block page_title %} FAQ Page{% endblock %}

{% block body %}
{#<head>#}
{#    <link rel="stylesheet" href="../../public/style.css">#}
{#</head>#}

<div class="faq-block">
    <h3 class="h3">FAQs</h3>
    <p class="descr">Find out everything you need to get started by taking the tour. If you still have questions, come back and check out the pinned articles, if you still need help contact us: email@domain.com</p>
    <dl class="faq">
        <div class="faq-question">
            <dt class="faq-question__top">
                <input id="faq-qustion-toggler" type="checkbox" class="faq-question__toggler">
                <label for='faq-qustion-toggler'>
                    <button class="faq-question__btn">+</button>
                </label>
                <p class="faq-question__question">What topics can I ask about here?</p>
            </dt>
            <dd class="faq-question__bottom">
                <p class="faq-question__answer">Questions that need additional work or that are not a good fit for this site may be put on hold by experienced community members. While questions are on hold, they cannot be answered, but can be edited to make them eligible for reopening.</p>
            </dd>
        </div>
    </dl>
</div>

{#<script src="../../public/js/accordeon.js"></script>#}

{% endblock %}