
</div>
</main>
<footer class="footer-block">
    <div class="footer wrapper">

        <div class="footer__item footer__logo">
            Stack Lawyerflow
        </div>

        <div class="footer__item">
            <p class="footer__h-text">About us</p>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
        </div>
        <div class="footer__item">
            <p class="footer__h-text">About us</p>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
        </div>
        <div class="footer__item">
            <p class="footer__h-text">About us</p>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
        </div>
        <div class="footer__item">
            <p class="footer__h-text">About us</p>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Blog</a>
        </div>
        
    </div>
</footer>
<div class="copyright-block">
    <p class="copyright">2021 Discy. All Right Reserved</p>
</div>