{% extends 'Default/home.html.twig' %}

{% block body %}
<div class="content">

    <div class="questions-block">
        <div class="questions-tab">
            <a href="{{ path('lawyersAlph') }}" class="questions-tab__item">Alphabetical order</a>
            <a href="#" class="questions-tab__item">Rating order</a>
            <a href="{{ path('lawyersReg') }}" class="questions-tab__item">Registration time order</a>
        </div>
        {% block lawyersList %}
        {% endblock %}
    </div>
</div>
{% endblock %}