{% extends 'Layouts/homepage.html.twig' %}
{% block page_title %} News Page {% endblock %}

{% block body %}

{#<head>#}
{#    <link rel="stylesheet" href="/public/style.css">#}
{#</head>#}

<div class="news-block">
    <h3 class="h3">Latest News & Updates</h3>
    <div class="news">
        <div class="news__item">
            <img src="https://2code.info/demo/themes/Discy/Try/wp-content/uploads/2018/04/team-7-413x293.jpg" alt="" class="news__img">
            <div class="news__body">
                <div class="news__date"> On: April 18, 2018 Comments: 1 </div>
                <p class="news__title">
                    <a href="#">Highlighting what’s important about questions & Answers on Discy Community!</a>
                </p>
                <p class="news__descr">We want to make it easier to learn more about a question and highlight key facts about it — such as how popular the question is, how many people are interested in it, and who the audience is. To accomplish ...</p>
            </div>
        </div>
        <div class="news__item">
            <img src="https://2code.info/demo/themes/Discy/Try/wp-content/uploads/2018/04/blog-4-413x293.jpg" alt="" class="news__img">
            <div class="news__body">
                <div class="news__date"> On: April 18, 2018 Comments: 1 </div>
                <p class="news__title">
                    <a href="#">Highlighting what’s important about questions & Answers on Discy Community!</a>
                </p>
                <p class="news__descr">We want to make it easier to learn more about a question and highlight key facts about it — such as how popular the question is, how many people are interested in it, and who the audience is. To accomplish ...</p>
            </div>
        </div>
        <div class="news__item">
            <img src="https://2code.info/demo/themes/Discy/Try/wp-content/uploads/2018/04/blog-3-413x293.jpg" alt="" class="news__img">
            <div class="news__body">
                <div class="news__date"> On: April 18, 2018 Comments: 1 </div>
                <p class="news__title">
                    <a href="#">Highlighting what’s important about questions & Answers on Discy Community!</a>
                </p>
                <p class="news__descr">We want to make it easier to learn more about a question and highlight key facts about it — such as how popular the question is, how many people are interested in it, and who the audience is. To accomplish ...</p>
            </div>
        </div>
    </div>
    <a class="btn" href='#'>Explore our blog</a>
</div>

{% endblock %}