{% extends 'Default/home.html.twig' %}
{% block page_title %} Permission Denied{% endblock %}

{% block body %}
    <div class="center-block"><br>
        <h1 >Permission Denied!</h1>
        <h5 >You do not have permission to access this page!</h5>
    </div>
{% endblock %}