{% extends "Default/home.html.twig" %}

{% block content %}

{% for tag in tags | sortbyfield('name') %}
    <div class="container">

        {{ tag.getName }} <br>
    </div>
{% endfor %}

{% endblock %}