<!DOCTYPE html>
<html lang="en">
{% block head %}
{% endblock %}
<body>
{% block body %}

    <main class="main">
        <div class="main-wrapper wrapper">
            
            <div class="content">
                <div class="new-question">
                    <div class="new-question__avatar">
                        <img src="{{ asset('img/avatar.jpg') }}" alt="avatar">
                    </div>
                    <div class="new-question__input">
                        <input type="text" placeholder="What's your question">
                    </div>
                </div>

                <div class="questions-block"> 
                        {% block content-nav %}
                        {% endblock %} 
                    <div class="questions-list">
                        {% block question %}
                        {% endblock %} 
                    </div>
                    <div class="answers-list">
                        {% block answer %}
                        {% endblock %} 
                    </div>
                </div> 

            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %} 
    
</body>
</html>